body {
    font-family: sans-serif;
    background-color: #262626;
    color: #f0f8ff;
  }
  
  .container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
  }

.page-container {
    padding: 100px 0;
    min-height: 600px;
    background-color: #f0f8ff;
  }
  
  .main-title {
    text-align: center;
    padding: 50px 0;
    margin: 0;
    color: #0057ff;
  }

  .desc{
    font-weight: 500;
    font-size: 20px;
    color: #262626;
  }