html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

img {
  object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
a,
input,
textarea {
  outline: transparent;
}

address,
blockquote {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
  display: inline-block;
  background-color: transparent;
}

input,
textarea,
select {
  font: inherit;
  border: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
  background-color: #262626;
  color: #f0f8ff;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-container {
  padding: 100px 0;
  min-height: 600px;
  background-color: #f0f8ff;
}

.main-title {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  color: #0057ff;
}

.desc {
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}

.header {
  padding: 30px 0;
  background-color: #0057ff;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.product-list__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  padding: 50px 20px;
  background-color: #0057ff;
}
.product-list__price {
  width: fit-content;
  padding: 12px;
  border-radius: 50px;
  color: #262626;
  background-color: #f0f8ff;
}
.product-list__title {
  font-weight: 700;
  font-size: 28px;
  color: #000;
  border-bottom: 2px solid #000;
}
.product-list__btn {
  cursor: pointer;
  margin: 12px 0;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: #000;
  background-color: #f0f8ff;
}

.btn {
  font-size: 21px;
  font-weight: 500;
  padding: 12px;
  border-radius: 100px;
  border: 2px solid transparent;
  background-color: rgb(43, 42, 43);
  /* transition: opacity 0.4s color 0.4s  border-color 0.4s  background-color 0.4s  ease-in-out; */
  transition: all 0.6s ease-in-out;
}

.btn:active {
  opacity: 0.4;
}

.btn:focus {
  color: #f0f8ff;
  border-color: #f0f8ff;
}

.btn:hover {
  color: #262626;
  background-color: #f0f8ff;
  border-color: #262626;
}

.order-link {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #ed9f41;
}